a {
  color: #171522;
  text-decoration: none;
  -webkit-transition: all .25s ease-in;
  -o-transition: all .25s ease-in;
  transition: all .25s ease-in; }
  a:hover, a:focus {
    color: #23242C;
    text-decoration: none;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out; }

.col-20 {
  -ms-flex: 0 0 20%;
  -webkit-box-flex: 0;
  flex: 0 0 20%;
  max-width: 20%; }

.col-80 {
  -ms-flex: 0 0 80%;
  -webkit-box-flex: 0;
  flex: 0 0 80%;
  max-width: 80%; }

body {
  font-family: 'Roboto', sans-serif;
  color: #34353C; }

.sidebar {
  background-color: #23242C;
  padding-top: 20px;
  min-height: 100vh; }
  .sidebar ul {
    list-style: none;
    padding: 0px; }
    .sidebar ul li {
      padding: 10px 20px;
      border-left: 2px solid transparent;
      -webkit-transition: all .25s ease-in;
      -o-transition: all .25s ease-in;
      transition: all .25s ease-in; }
      .sidebar ul li a {
        color: #ffffff; }
        .sidebar ul li a i {
          margin-right: 10px; }
      .sidebar ul li:hover, .sidebar ul li:focus, .sidebar ul li.active {
        background-color: #171522;
        border-left: 2px solid #1087E6;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out; }
  .sidebar .side-hr hr {
    border-color: #ffffff; }

.main-content {
  padding: 2%; }

.circle-icon-o {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 1px solid #ffffff;
  padding: 6px 8px; }
  .circle-icon-o i {
    color: #ffffff; }

.circle-icon {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  padding: 3px 10px 6px 10px;
  background-color: #000000;
  color: #ffffff; }
  .circle-icon i {
    font-size: 12px;
    color: #ffffff; }

.play-now {
  background: url("../img/album-songs-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5% 20%;
  border-radius: 5px; }
  .play-now .img-play-now {
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block; }
    .play-now .img-play-now img {
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      height: 100%;
      width: 100%; }
    .play-now .img-play-now .img-play-eq {
      padding: 10px;
      border-radius: 100%;
      height: 50px;
      width: 50px;
      background-color: #000000;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .play-now .img-play-now .img-play-eq .eq-icon {
        height: 100%;
        width: 100%; }
  .play-now .play-desc {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    color: #ffffff;
    margin-left: 30px; }
    .play-now .play-desc a {
      margin-right: 15px;
      color: #ffffff; }
    .play-now .play-desc .circle-icon-o:hover, .play-now .play-desc .circle-icon-ofocus {
      border-width: 2px; }

.browse-music {
  padding: 20px 0px 0px 0px; }
  .browse-music h3 {
    color: #34353C;
    margin-bottom: 0px;
    font-size: 20px; }
    .browse-music h3 i {
      margin-left: 5px; }
  .browse-music p {
    color: #6D7276; }
  .browse-music #owl-browse .item-browse .img-item {
    border-radius: 5px;
    overflow: hidden;
    height: 100px; }
    .browse-music #owl-browse .item-browse .img-item img {
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      height: 100%;
      width: 100%;
      opacity: 1;
      -webkit-transition: .25s ease-in;
      -o-transition: .25s ease-in;
      transition: .25s ease-in; }
  .browse-music #owl-browse .item-browse .item-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .browse-music #owl-browse .item-browse .item-desc p {
      color: #ffffff;
      font-weight: bold;
      margin: 0px; }
  .browse-music #owl-browse .item-browse:hover .img-item img, .browse-music #owl-browse .item-browsefocus .img-item img {
    opacity: .9;
    -webkit-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out; }
  .browse-music #owl-browse .owl-stage-outer {
    height: 100px; }
  .browse-music #owl-browse .owl-nav {
    position: absolute;
    top: -50px;
    right: 0px; }
    .browse-music #owl-browse .owl-nav button {
      padding: 0px 5px !important; }
      .browse-music #owl-browse .owl-nav button span {
        font-size: 25px; }
      .browse-music #owl-browse .owl-nav button:hover, .browse-music #owl-browse .owl-nav button:focus {
        border-color: transparent; }

.playlist-music {
  padding: 0px 0px 0px 0px; }
  .playlist-music h3 {
    color: #34353C;
    margin-bottom: 0px;
    font-size: 20px; }
    .playlist-music h3 i {
      margin-left: 5px; }
  .playlist-music p {
    color: #6D7276; }
  .playlist-music #owl-playlist .item-playlist .img-item {
    border-radius: 5px;
    overflow: hidden;
    height: 200px; }
    .playlist-music #owl-playlist .item-playlist .img-item img {
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      height: 100%;
      width: 100%;
      opacity: 1;
      -webkit-transition: .25s ease-in;
      -o-transition: .25s ease-in;
      transition: .25s ease-in; }
  .playlist-music #owl-playlist .item-playlist .item-desc p {
    color: #34353C;
    margin: 0px; }
    .playlist-music #owl-playlist .item-playlist .item-desc p:nth-child(2) {
      color: #6D7276; }
  .playlist-music #owl-playlist .item-playlist .item-overlay {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in; }
    .playlist-music #owl-playlist .item-playlist .item-overlay .menu-item {
      position: absolute;
      bottom: -10px;
      width: 100%;
      padding-left: 5px;
      -webkit-transition: .4s ease-in;
      -o-transition: .4s ease-in;
      transition: .4s ease-in; }
  .playlist-music #owl-playlist .item-playlist:hover .img-item img, .playlist-music #owl-playlist .item-playlistfocus .img-item img {
    opacity: .9;
    -webkit-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out; }
  .playlist-music #owl-playlist .item-playlist:hover .item-overlay, .playlist-music #owl-playlist .item-playlistfocus .item-overlay {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in; }
    .playlist-music #owl-playlist .item-playlist:hover .item-overlay .menu-item, .playlist-music #owl-playlist .item-playlistfocus .item-overlay .menu-item {
      bottom: 10px;
      -webkit-transition: .4s ease-in;
      -o-transition: .4s ease-in;
      transition: .4s ease-in; }
  .playlist-music #owl-playlist .owl-stage-outer {
    height: 250px; }
  .playlist-music #owl-playlist .owl-nav {
    position: absolute;
    top: -50px;
    right: 0px; }
    .playlist-music #owl-playlist .owl-nav button {
      padding: 0px 5px !important; }
      .playlist-music #owl-playlist .owl-nav button span {
        font-size: 25px; }
      .playlist-music #owl-playlist .owl-nav button:hover, .playlist-music #owl-playlist .owl-nav button:focus {
        border-color: transparent; }
  .playlist-music #owl-playlist .owl-dots {
    display: none; }

@media (max-width: 575.98px) {
  .sidebar ul li {
    text-align: center; }
  .play-now {
    padding: 20px 20px; }
    .play-now .img-play-now {
      width: 100px;
      height: 100px; }
      .play-now .img-play-now .img-play-eq {
        padding: 5px;
        height: 30px;
        width: 30px; }
        .play-now .img-play-now .img-play-eq .eq-icon {
          height: 50%;
          width: 50%;
          position: absolute;
          left: 7px; }
    .play-now .play-desc {
      margin-left: 10px; }
      .play-now .play-desc h3 {
        margin-bottom: 0px;
        font-size: 20px; }
      .play-now .play-desc p {
        margin-bottom: 10px; }
      .play-now .play-desc a {
        margin-right: 15px;
        color: #ffffff; }
      .play-now .play-desc .circle-icon-o {
        height: 30px;
        width: 30px;
        border: 1px solid #ffffff;
        padding: 4px 8px; }
        .play-now .play-desc .circle-icon-o i {
          font-size: 14px;
          color: #ffffff; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .sidebar ul li {
    text-align: center; }
  .play-now {
    padding: 20px 50px; }
    .play-now .img-play-now {
      width: 200px;
      height: 200px; }
      .play-now .img-play-now .img-play-eq {
        padding: 10px;
        border-radius: 100%;
        height: 50px;
        width: 50px; }
    .play-now .play-desc {
      margin-left: 30px; }
      .play-now .play-desc a {
        margin-right: 15px;
        color: #ffffff; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .sidebar ul li {
    text-align: center; }
  .play-now {
    padding: 20px 50px; }
    .play-now .img-play-now {
      width: 200px;
      height: 200px; }
      .play-now .img-play-now .img-play-eq {
        padding: 10px;
        border-radius: 100%;
        height: 50px;
        width: 50px; }
    .play-now .play-desc {
      margin-left: 30px; }
      .play-now .play-desc a {
        margin-right: 15px;
        color: #ffffff; } }
